@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@bg-color: #303030;
@fg-color: #ffffff;
@primary: #3f51b5;
@accent: #ff4081;
@error: #f44336;

.no-box {
    border: 0;
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    font-family: 'Comfortaa', cursive;
    color: @fg-color;
    background-color: @bg-color;
    height: 100%;

    .no-box;
}

a {
    color: @accent;
    text-decoration: none;
}

app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: @error;
    margin: 10px;
}

word-b {
    display: inline-block !important;    
}

.hl {
    background-color: #00F0F0 !important;
}