<section>
    <form class="form">
        <h1 mat-dialog-title>Save Annotation and/or Highlight</h1>

        <p class="highlightedComponent">
            {{data.highlightedText}}
        </p>

        <mat-form-field class="full-width">
            <textarea matInput placeholder="Annotate / Comment" #comment [(ngModel)]="data.annotation.comment"
            [ngModelOptions]="{standalone: true}"></textarea>
            <mat-hint>Optional</mat-hint>
        </mat-form-field>

        <button type="button" mat-raised-button [mat-dialog-close]="data">
            <mat-icon>save</mat-icon>
            Save
        </button>
        <button mat-raised-button (click)="onNoClick()" type="button">
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>
    </form>
</section>