<section>
    <form class="form">
        <mat-form-field class="full-width">
            <input #oldPassword matInput placeholder="Current Password" [type]="hideCurrent ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent">
                <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input #newPassword matInput placeholder="New Password" [type]="hideNew ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew">
                <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input #confirm matInput placeholder="Confirm New Password" [type]="hideConfirm ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button
            (click)="doChangePassword(oldPassword.value, newPassword.value, confirm.value)">
            <mat-icon>vpn_key</mat-icon>
            Change Password
        </button>
    </form>
    <div class="error">{{error}}</div>
</section>